<h2 mat-dialog-title>{{movie.title}}</h2>
<mat-dialog-content>
    <div class="row">
        <div class="col-12">
            <p>{{movie.description}}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <img class="img-fluid w-100" src="{{movie.imagePath|awsImages:'poster'|async}}" />
        </div>
    </div>
    <div class="row row-cols-auto pt-4 px-4 pb-2 d-flex align-items-center">
        <div class="col">Director:</div>
        <div class="col"><button mat-button
                (click)="openDirectorDetailsDialog(); $event.stopPropagation()">{{movie.director.name}}</button></div>
    </div>
    <div class="row row-cols-auto pt-2 px-4 pb-4 d-flex align-items-center">
        <div class="col">Genre:</div>
        <div class="col"><button mat-button
                (click)="openGenreDetailsDialog(); $event.stopPropagation()">{{movie.genre.name}}</button></div>
    </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close id="closeButton">Close</button>
</mat-dialog-actions>