@import "@material/ripple/mdc-ripple";
// Import Bootstrap functions and variables
@import "../../../node_modules/bootstrap/scss/functions";
@import "../../../node_modules/bootstrap/scss/variables";
@import "../../../node_modules/bootstrap/scss/mixins";

// Import Bootstrap grid system and utilities
@import "../../../node_modules/bootstrap/scss/bootstrap-grid";
@import "../../../node_modules/bootstrap/scss/bootstrap-utilities";

img.img-fixed-size {
    height: 180px;
    width: 286px;
    object-fit: cover; /* Ensures the image is not stretched or condensed */
}